
<div class="shedulerList view fullscreen wpad" [ngClass]="{'onLoading':onLoading}">
    <h1>{{_lan.capts.shedulerList}}</h1>
    <div class="container-fluid">
	    <shedulerItem *ngFor="let item of shedulerItems" [shedulerItem]="item" [spot]="spot" (shedulerDeleteEvent)="shedulerDeleteEventHandler($event)"></shedulerItem>
        <div *ngIf="shedulerItems.length == 0" class="alert alert-info">{{_lan.capts.noTasks}}</div>
    </div>
</div>