
<div class="shedulerAdd view fullscreen wpad" [ngClass]="{'onLoading':onLoading}">
    <h1>{{_lan.capts.shedulerAdd}}</h1>
    <div class="container-fluid">
        <div class="add">
            <div class="step0 margin1">
                <label>{{_lan.capts.hwChoose}}</label>
                <select class="form-control" (change)="setHW($event)" [(ngModel)]="taskhw">
                    <option selected="true" value="0">{{_lan.capts.hwChoose}}</option>
                    <option *ngFor="let item of avaibleHW" [value]="item.key">{{item.val}}</option>
                </select>
            </div>
            <div class="step1 margin1">
                <div class="form-group">
                    <label>{{_lan.capts.shedulerAddSelectPlan}}</label>
                    <select class="form-control" (change)="setTaskPType($event)" [(ngModel)]="taskPType"><!-- сделать чтонить с этим гамном -->
                        <option selected="true" value="0">{{_lan.capts.shedulerAddSelectPlan}}</option>
                        <option *ngFor="let item of shedulerTaskPType" [value]="item.key">{{item.val}}</option>
                    </select>
                </div>
            </div>
            <div class="step2 margin1" [ngSwitch]="taskPType">
                <div class="form-group" *ngSwitchCase="'DOW'">
                    <label>{{_lan.capts.selectDOW}}</label>
                    <select class="form-control" [(ngModel)]="DOW">
                        <option selected="true" value="0">{{_lan.capts.selectDOW}}</option>
                        <option *ngFor="let item of DOWS" [value]="item.key">{{item.val}}</option>
                    </select>
                </div>
                <div class="form-group" *ngSwitchCase="'DOM'">
                    <label>{{_lan.capts.selectDOM}}</label>
                    <div class="clearfix">
                        <button class="btn btn-xs btn-default col-xs-2" *ngFor="let i of avaibleDOMS" (click)="DOM=i">{{i}}</button>
                        <input type="hidden" [ngModel]="DOM">
                    </div>
                    <br/>
                    <div class="text-center"><small [innerHTML]="_lan.capts.shedulerDOWT1"></small></div>
                </div>
                <div class="form-group" *ngSwitchCase="'DATE'">
                    <label>{{_lan.capts.selectDATE}}</label>
                    <div class="clearfix">
                        <input type="text" class="dateInline" id="shedulerAddDATE" value="">
                    </div>
                </div>
            </div>
            <div class="step3 margin1" *ngIf="taskPType">
                <label>{{_lan.capts.selectTIME}}</label>
                <div class="row">
                    <div class="form-group col-xs-6">
                        <label><small>{{_lan.capts.HOURS}}</small></label>
                        <select class="form-control" [(ngModel)]="HOURS">
                            <option *ngFor="let i of avaibleHOURS" [value]="i">{{i}}</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-6">
                        <label><small>{{_lan.capts.MINUTES}}</small></label>
                        <select class="form-control" [(ngModel)]="MINUTES">
                            <option *ngFor="let i of avaibleMINUTES" [value]="i">{{i}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="step4 form-group margin1" *ngIf="taskPType">
                <label>{{_lan.capts.selectAction}}</label>
                <div>
                    <select class="form-control" [(ngModel)]="command">
                        <option selected="true" value="0">{{_lan.capts.selectAction}}</option>
                        <option *ngFor="let item of spotTools" [value]="item.key">{{item.val}}</option>
                    </select>
                </div>
            </div>
            <div class="step5 form-group margin1" *ngIf="command=='DIM'">
                <label>{{_lan.capts.dimmer}}</label>
                <div>
                    <input type="range" min="10" max="255" step="10" value="150" [(ngModel)]="DIM"/>
                </div>
            </div>
            <div class="step6 form-group margin1">
                <label>{{_lan.capts.enterDescription}}</label>
                <div>
                    <input type="text" class="form-control" maxlength="32" [(ngModel)]="title"/>
                </div>
            </div>
            
            <div class="btn-group btn-group-justified">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary" (click)="save()">{{_lan.capts.save}} <span class="glyphicon glyphicon-ok"></span></button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-danger" (click)="close()">{{_lan.capts.cancel}} <span class="glyphicon glyphicon-remove"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>