<div class="list-group-item item">
    <h4 class="list-group-item-heading">
        <div class="pull-right">
            <button class="btn btn-danger" (click)="delete()"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
        <span>{{commandTitle}}</span>
    </h4>
    <div class="list-group-item-text">
        <div>{{commandTHW}}</div>
        <div><strong>{{commandTAction}}</strong> - {{commandDateVal}}</div>
        <div>{{commandTimeVal}}</div>
    </div>
</div>