<spotsList></spotsList>
<div class="modal fade errorModal" tabindex="-1" role="dialog" id="errorModal">
    <div class="modal-dialog modal-sm">
    <div class="modal-content">

        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Error</h4>
        </div>
        <div class="modal-body">
        <div class="val"></div>
        </div>
    </div>
    </div>
</div>
<div class="modal fade notifModal" tabindex="-1" role="dialog" id="notifModal">
    <div class="modal-dialog modal-md">
    <div class="modal-content">

        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Caution</h4>
        </div>
        <div class="modal-body">
          <div class="val"></div>
        </div>
    </div>
    </div>
</div>