<div class="viewAddNew view">
    <button class="stopBtn btn btn-default close" (click)="stopAdd()">&times;</button>
    <div class="container">
        <h1 [innerHTML]="title"></h1>
        <div class="loading" *ngIf="onLoading"></div>
        <div *ngIf="onError" class="text-center">
            <div class="ico ico_errorWifi"></div>
            <button class="btn btn-primary btn-lg" (click)="begin()">{{_lan.capts.tryAgain}}</button><br/>
            <p>{{_lan.capts.spotAddT1}}</p>
        </div>

        <div class="list-group" *ngIf="ssidList.length>0">
            <div class="margin2"><button class="list-group-item" *ngFor="let item of ssidList" [attr.data-bssid]="item.bssid" (click)="step5($event.target.getAttribute('data-bssid'))">{{item.ssid}}</button></div>
            <div class="text-center"><button class="btn btn-primary btn-lg" (click)="step4();">{{_lan.capts.refreshIt}}</button></div>
        </div>
        <div class="text-center" *ngIf="noSSSIDList">
            <button class="btn btn-primary btn-lg" (click)="step4();">{{_lan.capts.refreshIt}}</button><br/>
            <p>{{_lan.capts.needWIFICapt}}</p>
        </div>
    </div>
    
</div>