
<div class="spotsList view">
    <div class="controls">
        <div class="inner">
            <div class="spot text-right" *ngIf="configSpot">
                <button class="cclose pull-left" (click)="onBackButton();"><i class="fa fa-chevron-left"></i></button>
                <span *ngIf="!mqttConfigForm">
                    <button class="control active" (click)="removeSpot()"><i class="fa fa-trash"></i></button>
                    <button class="control active"  (click)="resetSpot()"><i class="fa fa-recycle"></i></button>
                    <button class="control active" (click)="renameSpot()"><i class="fa fa-pencil"></i></button>
                    <button class="mqtt control active" (click)="setMQTT()"><i class="fa fa-home"></i></button>
                </span>
            </div>
            <div *ngIf="shedulerSpot">
                <div class="sheduler text-right"  *ngIf="shedulerAddM">
                    <button class="cclose pull-left" (click)="onBackButton();"><i class="fa fa-chevron-left"></i></button>
                </div>
                <div class="sheduler text-right"  *ngIf="!shedulerAddM">
                    <button class="cclose pull-left" (click)="onBackButton();"><i class="fa fa-chevron-left"></i></button>
                    <button class="control active"  (click)="shedulerReset()"><span class="fa fa-recycle"></span></button>
                    <button class="control active" (click)="shedulerRefresh()"><span class="fa fa-repeat"></span></button>
                    <button class="control addNew active" (click)="shedulerAdd();"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <div class="common text-right"  *ngIf="!configSpot && !shedulerSpot">
                <div class="label">SmartyAPP</div>
                <button class="control light" *ngIf="commonLightCount>0" [ngClass]="{'active':commonLightState}" (click)="commonLightState=!commonLightState;setCommonState('light',commonLightState)"><i class="fa fa-lightbulb-o"></i></button>
                <button class="control socket" *ngIf="commonSocketCount>0"  [ngClass]="{'active':commonSocketState}" (click)="commonSocketState=!commonSocketState;setCommonState('socket',commonSocketState)"><i class="fa fa-plug"></i></button>
                <button class="control addNew active" (click)="spotAdd()"><i class="fa fa-plus"></i></button>
            </div>
        </div>
    </div>
    <div class="itemsContainer">
	    <div class="swipe-tabs slick-slider">
	        <div class="swipe-tab" *ngFor="let cat of _spotsCats">{{cat.title}}</div>
        </div>
	    <div class="swipe-tabs-container">
	        <div class="swipe-tab-content list-group" *ngFor="let cat of _spotsCats">
                <spotItem *ngFor="let item of cat.items" [spot]="item" (spotItemEvent)="spotItemEventHandler($event)"></spotItem>
            </div>
        </div>
    </div>
    <div class="fullscreen wpad" data-spot="0" *ngIf="mqttConfigForm">
        <div class="container-fluid">
            <h1>{{_lan.capts.mqttSettings}}</h1>
            <div class="status">
                <div class="alert alert-warning" *ngIf="mqttStatus!=1" [ngClass]="{'alert-warning':mqttStatus==0,'alert-danger':mqttStatus==-1}">{{mqttStatusStr}}</div>
                <div class="alert alert-success" *ngIf="mqttStatus==1">
                    <div>{{mqttStatusStr}}</div>
                    <div>publish:{{mqttPublish}}</div>
                    <div>subscribe:{{mqttSubscribe}}</div>
                </div>
            </div>
            <div class="form-group">
                <label>Адрес сервера</label>
                <div><input [(ngModel)]="mqttServer" type="text" class="form-control" /></div>
            </div>
            <div class="form-group">
                <label>Порт</label>
                <div><input [(ngModel)]="mqttPort" type="text" class="form-control" /></div>
            </div>
            <div class="form-group">
                <label>Логин</label>
                <div><input [(ngModel)]="mqttUser" type="text" class="form-control" /></div>
            </div>
            <div class="form-group">
                <label>Пароль</label>
                <div><input [(ngModel)]="mqttPass" type="text" class="form-control" /></div>
            </div>
            <div class="btn-group btn-group-justified">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary" (click)="saveMQTT()">Подключиться <span class="glyphicon glyphicon-ok"></span></button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" (click)="hideMQTT()">Закрыть <span class="glyphicon glyphicon-resize-small"></span></button>
                </div>
            </div>
        </div>
    </div>
	<spotAdd *ngIf="spotAddM" (spotAddEvent)="spotAddEventHandler($event)"></spotAdd>
	<shedulerList *ngIf="shedulerSpot" [spot]="shedulerSpot.spot" (shedulerListEvent)="shedulerListEventHandler($event)"></shedulerList>
    <shedulerAdd *ngIf="shedulerAddM"  [spot]="shedulerSpot.spot" (shedulerAddEvent)="shedulerAddEventHandler($event)"></shedulerAdd>
</div>