<div class="col-xs-6">
    <div class="margin1">
       <label class="switch"> <input type="checkbox" class="switchery state small" (change)="setState($event)" [checked]="hw.state>0"/><i></i></label>
    </div>
    <div class="rangeI margin2" *ngIf="tools.DIM">
        <div class="range" [style.width]="(hw.state/255*100)+'%'"></div>
        <input type="range" min="10" max="255" step="10" [value]="hw.state" (change)="setState($event)"/>
    </div>
</div>