<div class="list-group-item item" [ngClass]="{'focus':focus,'WORKS':spot.WORKS,'NA':!spot.available}" (mousedown)="configList($event)">
    <div class="row margin2">
        <div class="col-xs-6 col-sm-8 col-md-10 title"><div>{{spot.title}}</div></div>
        <div class="col-xs-3 col-sm-2 col-md-1 text-right">
            <button class="btn btn-default" (click)="shedulerList($event)"><span class="glyphicon glyphicon-calendar"></span></button>
        </div>
        <div class="col-xs-3 col-sm-2 col-md-1 text-right">
            <label class="switch"><input type="checkbox" class="switchery state common" (change)="setState($event)" [checked]="commonState>0"/><i></i></label>
        </div>
    </div>
    <div class="rangeI margin2" *ngIf="commonTools.DIM">
        <div class="range" [style.width]="(commonState/255*100)+'%'"></div>
        <input type="range" min="10" max="255" step="10" [value]="commonState" (change)="setState($event)"/>
    </div>
    <div class="row hwContainer" *ngIf="spot.hw.length>1">
        <spotHW *ngFor="let item of spot.hw" [spot]="spot" [hw]="item" (stateChangedEvent)="hwStateChangedHandler($event)"></spotHW>
    </div>
    <div class="statusW">
        <i class="fa fa-globe" *ngIf="!spot._inLocal"></i>
        <i class="fa fa-wifi" *ngIf="spot._inLocal"></i>
    </div>
</div>