a{
	text-decoration:none;
	&:link{ text-decoration:none; }
}
.ahrefT1(@color, @hovercolor) {
	color: @color;
	&:link{		color: @color; }
	&:visited{	color: @color; }
	&:hover{	color: @hovercolor; }
}
.ahrefT2(@color, @hovercolor) {
	color: @color;
	text-decoration:none;
	&:link{		color: @color; }
	&:visited{	color: @color; }
	&:hover{	color: @hovercolor; }
	&.active{	color: @hovercolor; }
}
.ahrefT3(@color, @hovercolor) {
	color: @color;
	text-decoration:none;
	&:link{		color: @color; }
	&:visited{	color: @color; }
	&:hover{	color: @hovercolor; text-decoration:underline;}
}
.ahrefT4(@color, @hovercolor) {
	color: @color;
	text-decoration:underline;
	&:link{		color: @color; }
	&:visited{	color: @color; }
	&:hover{	color: @hovercolor; text-decoration:none;}
}
.transform(@val){
  -moz-transform:@val;  
  -webkit-transform:@val;  
  -o-transform:@val;  
  -ms-transform:@val;  
}
.transition(@val){
    -webkit-transition: @val;
    -moz-transition: @val;
    -o-transition: @val;
    transition: @val;
}

.margin1{margin-bottom:1em;}
.margin2{margin-bottom:2em;}
.margin3{margin-bottom:3em;}
.margin4{margin-bottom:4em;}
.margin5{margin-bottom:5em;}
.chidden{
	display:none;
}
html{
    position: relative;
	height: 100%;
}
body{
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color:#FFF;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    width:100%;
}
h1 {
    font-size:24px;
    font-weight:normal;
    overflow:visible;
    text-align:center;
    text-transform:uppercase;
}
.ico{
	margin:0 0 20px;
	
	&.ico_wifi{
		height:150px;
		background:url('../img/wifi.png') no-repeat center center /contain;
	}
	&.ico_errorWifi{
		height:150px;
		background:url('../img/wifiError.png') no-repeat center center /contain;
	}
}
.loader{
	height:128px;
	margin-bottom:40px;
	background:url('../img/loading.gif') no-repeat center center !important;
	z-index:3 !important;
}
.fullscreen{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:auto;	
	background:#fff;
	z-index:2;
	&.wpad{
		padding:60px 0 20px;
		h1{
			padding:25px 0 20px;	
		}
	}
}
.view{
	height:100%;
	.wpad{
		padding-bottom:20px;
	}
}
.viewInit{
	h1{
		padding:75px 0 20px;
	}
	img{
		max-width: 60%;
	}
}
.viewAddNew{	
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#fff;
	z-index:3;
	h1{
		padding:75px 0 20px;
	}
	p{
		margin:20px 0 0;
		font-size: 85%;
	}
	.stopBtn{
		position: absolute;
		top: 0;
		right: 0;
		padding: 20px;
	}
	.loading{
		width:128px;
		height:128px;
		margin:0 auto 40px;
		background:url('../img/loading.gif') no-repeat center center;
	}
}

.spotsList{
	padding-top: 60px;
	>.controls{
		position:fixed;
		display:table;
		top:0;
		left:0;
		width:100%;
		height:60px;
		background: #393F4C;
		box-shadow: 1px 1px 7px 0px rgba(0,0,0,.8);
		z-index: 3;
		.transition(.3s);
		&.spotV{
			background:#171B1F;
			>.inner{
				.common{
					display:none;
				}
				.spot{
					display:block;
				}
			}
		}
		>.inner{
			display:table-cell;
			vertical-align:middle;
			.control{
				margin:0 8px;
				font-size: 22px;
				color:#222;
				background: transparent;
				&.active{
					color:#bebebe;
				}
			}
			.common{
				.label{
					float: left;
					padding: 0px 20px;
					font-size: 22px;
					font-weight: 300;
				}
			}
			.cclose{
				font-size: 24px;
				padding: 0 0 0 13px;
				color: #444;
				background: transparent;
			}
		}
	}
	.itemsContainer{
		position:relative;
		height:100%;
		overflow: auto;
		.swipe-tabs{
			text-transform:uppercase;
		}
		.item{
			position:relative;
			margin-bottom: 1em;
			padding-bottom: 0;
			.rangeI{
				position:relative;
				height:28px;
				overflow: hidden;
				.range{
					display:block;
					background: #4284FE;
					height:6.1px;
					margin: 9.45px 0;
				}
			}
			&.focus{
				background:rgba(0,0,0,.2);
			}
			&.WORKS:after{
				content:' ';
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				background:rgba(255,255,255,.8) url('../img/loading2.gif') no-repeat 20px center;
			}
			&.NA:after{
				content:' ';
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				background:rgba(255,255,255,.8) url('../img/navailable.png') no-repeat 20px center;
			}
			.title{
				min-height:35px;
				line-height:35px;
				div{
					line-height:35px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
			.hwContainer{
				padding: 15px 0 10px;
				background: rgba(0,0,0,.1);
				box-shadow: inset 0px 0px 3px -1px #000;
			}
			.statusW{
				position: absolute;
				left: 0;
				top: 0;
				padding: 5px;
				color: #666;
				font-size:13px;
				&.local{
					.inet{
						display:none;
					}
					.wifi{
						display:inline;
					}
				}
				.wifi{
					display:none;
				}
			}
		}
	}
	.shedulerAdd{
		padding-top: 60px;
		z-index:2;
		&.onLoading{
			&:after{
				content:' ';
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				background:rgba(255,255,255,.8) url('../img/loading2.gif') no-repeat 20px center;
			}
		}
		>.close{
			position:absolute;
			top:0;
			right:0;
			padding: 20px 20px 10px;
		}
		h1{
			padding:25px 0 20px;	
		}
		label{
			.margin1;
		}
		strong{
			font-weight:bold;
		}
		.xdsoft_datetimepicker.xdsoft_inline{
			width: 100%;
			padding: 8px;
		}
		.xdsoft_prev,
		.xdsoft_next{
			margin-left:auto;
			margin-right:auto;
		}
		.xdsoft_timepicker{
			width:100%;
		}
		.xdsoft_datepicker{
			margin:0;
			width:100%;
		}
	}
	.shedulerList{
		padding-top: 60px;
		z-index:1;
		&.onLoading{
			&:after{
				content:' ';
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				background:rgba(255,255,255,.8) url('../img/loading2.gif') no-repeat 20px center;
			}
		}
		>.close{
			position:absolute;
			top:0;
			right:0;
			padding: 20px 20px 10px;
		}
		h1{
			padding:25px 0 20px;	
		}
		.item{
			margin-bottom: 20px;
			h4{
				text-transform: uppercase;
				padding: 10px 0 5px;
				font-size: 20px;
			}
			label{
				.margin1;
			}
			strong{
				font-weight:bold;
			}
		}
	}
}
